html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button{
    color:black;
    border: none;
}

button:hover{
    color: black;
    transform: scale(1.01);
}

.nav-link:hover {
    border: none;
    transform: scale(1.25);
    color: black
}